@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  margin-top: 100px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
  
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  /* width: 450px; */
	height: 15px;
	background: #1C1B22;
	border: 1px solid #1C1B22;
	border-radius: 8px;
	padding: 15px;
	color: #B3C1C3;
	font-family: Roboto;
	transition: .1s;
	cursor: default;
	font-size: 15px;
}

.tweetBox__input > input:hover {
	box-shadow: 0 0 0 2px #0060DF;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
  width: 750px;
	height: 15px;
	background: #1C1B22;
	border: 1px solid #1C1B22;
	border-radius: 8px;
	padding: 15px;
	color: #B3C1C3;
	font-family: Roboto;
	transition: .1s;
	cursor: default;
	font-size: 15px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}